body {
    font-family: Arial, Helvetica, sans-serif;
    background: #2C2C34;
    color: #D8D8F6;
}

.container {
    display: grid;
    justify-content: center;
    text-align: center;
}

.clock {
    margin: 30px;
    border-radius: 50%;

    width: 400px;
    height: 400px;

    background-color: #26a69a;
    border: none;
    box-shadow: 0 19px 38px rgba(0, 0, 0, 0.30), 0 15px 12px rgba(0, 0, 0, 0.22);

    overflow: hidden;
}

.clock-face {
    position: relative;
    width: 100%;
    height: 100%;

    border: none;
}

.text {

    font-size: 2.5rem;
}

.dot {
    width: 5px;
    height: 5px;
    border-radius: 10px;
    background-color: #561F37;

    transform: translateY(-3px);

    position: absolute;
    top: 50%;
    left: 50%;
    transform-origin: center;
}

.hand {
    width: 5px;
    background-color: #D8D8F6;
    border-radius: 10px;

    position: absolute;
    top: 50%;
    left: 50%;
    transform-origin: top center;

    transition: all 0.3s;
}

.indicator {
    width: 50px;
    height: 5px;
    position: absolute;
    background-color: #092327;
    top: 50%;
    left: 50%;
}

.hour {
    height: 23%;
}

.minute {
    height: 42%;
}

.second {
    z-index: 100;
    background-color: #561F37;
    height: 37%;
}